{% extends 'base.html' %}
{% load static %}

{% block title %}DTR2{% endblock title %}

{% block exemplo %}DTR2 - Modelo de Espaço Morto e Desvio {% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Uso de Traçador para determinar os Parâmetros do Modelo em um CSTR com Modelo de Espaço Morto e Desvio</h5></p>
    <p>Baseado no Exemplo 18.5 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>Os dados de concentração com tempo do traçador foram obtidos a partir de uma perturbação em degrau.</p>
    <!--
    <div class="d-flex flex-wrap justify-content-center" id="conteudo1"> 
        <div class="text-center py-3">
            <p>Figura 1 - Sistema real (a) e  sistema modelo (b) do CSTR</p>
            <img class="w-50" src="{% static 'img/DTR2-1.png' %}" alt="">
            <p class="pt-3">Fonte: Adaptado de Fogler (2022).</p>
        </div>
    </div>
    -->
    <p>A concentração de entrada do traçador é C<sub>T0</sub> = 2.000 mg/dm³.</p>
    <p>Os parâmetros α e β do modelo podem ser obtidos pela regressão linear da Equação 1.</p>
    <div id="conteudo1" class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="pb-3">
            $$ \ln\frac{C_{T0}}{C_{T0} - C_T} = \ln\frac{1}{1 - \beta} + \frac{1 - \beta}{\tau\alpha}  \qquad(1)$$
        </div>
    </div>
    <p>A conversão prevista pelo modelo é encontrada a partir do balanço molar no reator V<sub>s</sub>, que resulta nas Equações 2 e 3.</p>
    <div id="conteudo2" class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="pb-3">
            $$ C_A = \beta C_{A0} + (1 - \beta) C_{As}  \qquad(2)$$
            $$ C_{As} = \frac{-1 + \sqrt{1 + 4 \tau_s k C_{A0}}}{2 \tau_s k} \qquad(3)$$
        </div>
    </div>
    <p> <b>(a)</b> Determine os parâmetros do modelo α e β em que α = V<sub>s</sub> / V e β = v<sub>d</sub> / v<sub>0</sub>.</p>
    <p> <b>(b)</b> Determine a conversão para uma reação de segunda ordem com C<sub>A0</sub> = 2 kmol/m³, τ = 10 min e k = 0,28 m³/kmol∙min.</p>
</div>

<form  method="post" id="formulario" action="{% url 'DTR2' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom justify-content-center py-3">   
        <div class="col-md p-md-3 ">
            {% for field in form %}
            <div class="d-flex flex-row flex-wrap g-3 align-items-center py-1">
                {% if field.name == 't' or field.name == 'C(t)' %}
                <div class="col-3 text-end px-5">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-6 text-center">
                    {{ field }}
                </div>
                {% else %}
                <div class="col-5 text-end px-5">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto text-center">
                    {{ field }}
                </div>
                {% endif %}
                <div class="col-auto text-start">
                    <span class="form-text px-4">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
        {% for field in form %}{% if field.name == 'x' %}
        <div class="row p-1 text-center"><div>{{ field.label }}</div></div>
        <div class="row pb-3 text-center">{{ field }}</div>
        {% endif %}{% endfor %}
    </div>
    
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}{% if field.name != 'x' %}
                    <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name }}:</b> {{ field.label }}</div>
                    {% endif %}{% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_C"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_E"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_F"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script type="module">
    import { criarGrafico1V, criarGraficoDTR, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'DTR2' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
            // Se houver erros, exiba-os
            const errorsContainer = document.getElementById("errors-container");
            errorsContainer.innerHTML = "";  // Limpa os erros anteriores, se houver

            // Itere sobre os erros e exiba-os
            for (const field in data.erros) {
                const errorMessage = data.erros[field].join(", ");
                const errorElement = document.createElement("div");
                errorElement.setAttribute("class","p-1");
                errorsContainer.setAttribute("class","alert alert-danger");
                errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
                errorsContainer.appendChild(errorElement);
            }
            if (data.erro_regressao !== undefined) {
                    const errorElement = document.createElement("div");
                    errorElement.setAttribute("class","p-1");
                    errorsContainer.setAttribute("class","alert alert-danger");
                    errorElement.innerHTML = `${data.erro_regressao}`;
                    errorsContainer.appendChild(errorElement);
            }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_C").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_C');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGraficoDTR(data.C, data.dadosC, data.t, data.dadost, data.r_quadrado, "Curva ajustada", "Dados Experimentais", "Concentração de traçador (mg/dm³)", "Tempo (min)", "Concentração de traçador na saída do reator ao longo do tempo", "grafico_C")

        document.getElementById("grafico_E").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_E');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.E, data.t, "E(t)", "Função de tempo de residência (1/min)", "Tempo (min)", "Função de tempo de residência ao longo do tempo", "grafico_E");
        
        document.getElementById("grafico_F").remove();
        var chart = document.getElementsByClassName("chart-container")[2];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_F');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.F, data.t, "F(t)", "Função cumulativa de tempos de residência", "Tempo (min)", "Função cumulativa de tempos de residência ao longo do tempo", "grafico_F");

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        const unidade = ["min","min²","min³","","","","","min"];
        criarEstrutura(data.dadosDTR, unidade);  
    };
    }) 
});

</script>

{% endblock scripts %}