{% extends 'base.html' %}
{% load static %}

{% block title %}DTR4{% endblock title %}

{% block exemplo %}DTR4 - Modelo de Tanques Interconectados {% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">CSTR real modelado como dois CSTR interconectados (2 parâmetros ajustáveis)</h5></p>
    <p>Baseado no Exemplo 18.6 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>Um teste em pulso com traçador foi realizado em um reator tanque com C<sub>T0</sub> = 2.000 mg/dm³, V = 1000 dm³ e v<sub>0</sub> = 25 dm³/min.</p>
    <!--
    <div class="d-flex flex-wrap justify-content-center" id="conteudo1"> 
        <div class="text-center py-3">
            <p>Figura 1 - Sistema real (a) e  sistema modelo (b) do CSTR</p>
            <img class="w-75" src="{% static 'img/DTR4-1.png' %}" alt="">
            <p class="pt-3">Fonte: Adaptado de Fogler (2022).</p>
        </div>
    </div>
    -->
    <p>A concentração de traçador ao longo do tempo segue o comportamento da Equação 1, obtida a partir do balanço do traçador nos reatores 1 e 2.</p>
    <div id="conteudo1" class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="pb-3">
            $$\left( \frac{C_{T1}}{C_{T10}} \right)_{\text{pulso}} = \frac{\left( \alpha_{m1} + \beta + 1 \right) e^{\frac{m_2 t}{\tau}} - \left( \alpha_{m2} + \beta + 1 \right) e^{\frac{m_1 t}{\tau}}}{\alpha \left( m_1 - m_2 \right)} \qquad (1)$$
        </div>
    </div>
    <p>Em que m<sub>1</sub> e m<sub>2</sub> são definidos na Equação 2.</p>
    <div id="conteudo2" class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="pb-3">
            $$m_1, m_2 = \left[ \frac{1 - \alpha + \beta}{2 \alpha (1 - \alpha)} \right] \left[ -1 \pm \sqrt{1 - \frac{4 \alpha \beta}{(1 - \alpha + \beta)^2}} \right] \qquad (2)$$
        </div>
    </div>
    <p>A conversão do modelo para uma reação de primeira ordem é definida na Equação 3.</p>
    <div id="conteudo3" class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="pb-3">
            $$X = 1 - \frac{C_{A1}}{C_{A0}} = \frac{(\beta + \alpha \tau k)[\beta + (1 - \alpha) \tau k] - \beta^2}{(1 + \beta + \alpha \tau k)[\beta + (1 - \alpha) \tau k] - \beta^2} \qquad (3)$$
        </div>
    </div>
    <p> <b>(a)</b> Determine os parâmetros de permuta α e β.</p>
    <p> <b>(b)</b> Determine a conversão para uma reação de primeira ordem, com k = 0,03 min<sup>-1</sup> </p>
    <p> <b>(c)</b> Determine a conversão correspondente em um CSTR ideal e em um PFR ideal.</p>
</div>

<form  method="post" id="formulario" action="{% url 'DTR4' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom justify-content-center py-3">   
        <div class="col-md p-md-3 ">
            {% for field in form %}
            <div class="d-flex flex-row flex-wrap g-3 align-items-center py-1">
                {% if field.name == 't' or field.name == 'C(t)' %}
                <div class="col-3 text-end px-5">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-6 text-center">
                    {{ field }}
                </div>
                {% else %}
                <div class="col-5 text-end px-5">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto text-center">
                    {{ field }}
                </div>
                {% endif %}
                <div class="col-auto text-start">
                    <span class="form-text px-4">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
        {% for field in form %}{% if field.name == 'x' %}
        <div class="row p-1 text-center"><div>{{ field.label }}</div></div>
        <div class="row pb-3 text-center">{{ field }}</div>
        {% endif %}{% endfor %}
    </div>
    
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}{% if field.name != 'x' %}
                    <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name }}:</b> {{ field.label }}</div>
                    {% endif %}{% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_C"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_E"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_F"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script type="module">
    import { criarGrafico1V, criarGraficoDTR, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'DTR4' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpa os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_C").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_C');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGraficoDTR(data.C, data.dadosC, data.t, data.dadost, data.r_quadrado, "Curva ajustada", "Dados Experimentais", "Concentração de traçador (mg/dm³)", "Tempo (min)", "Concentração de traçador na saída do reator ao longo do tempo", "grafico_C")

        document.getElementById("grafico_E").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_E');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.E, data.t, "E(t)", "Função de tempo de residência (1/min)", "Tempo (min)", "Função de tempo de residência ao longo do tempo", "grafico_E");
        
        document.getElementById("grafico_F").remove();
        var chart = document.getElementsByClassName("chart-container")[2];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_F');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.F, data.t, "F(t)", "Função cumulativa de tempos de residência ", "Tempo (min)", "Função cumulativa de tempos de residência ao longo do tempo", "grafico_F");

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        const unidade = ["min","min²","min³","","","","","","","",""];
        criarEstrutura(data.dadosDTR, unidade);  
    };
    }) 
});

</script>

{% endblock scripts %}