{% extends 'base.html' %}
{% load static %}

{% block title %}PFR1{% endblock title %}

{% block exemplo %}PFR1 - Reações Simples{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Produção de Anidrido Acético PFR com efeitos térmicos</h5></p>
    <p>Baseado no Exemplo 12.2 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>Jeffreys, em um tratamento do projeto de uma planta de fabricação de anidrido acético, estabelece que uma das etapas-chave é o craqueamento endotérmico em fase vapor da acetona a ceteno e metano</p>
    <p class="py-2 text-center" id="conteudo1"> 
        $ CH_{3}COCH_{3} \rightarrow CH_{2}CO +CH_{4} $
    </p>
    <p>
        O artigo estabelece ainda que essa reação é de primeira ordem em relação à acetona e que a constante de taxa é dada por</p>
    </p>
    <div id="conteudo2">
        $$ ln k = 34,34 - \frac{34222}{T} $$
    </div>
    <p class="pt-2">Exemplos de reação endotérmica em fase gasosa:</p>
    <p>
        <div>1.Processo adiabático</div>
        <div>2.Transferência de calor, com Ta constante</div>
        <div>3.Transferência de calor em concorrente, com Ta variável</div>
        <div>4.Transferência de calor em contracorrente, com Ta variável    </div>
    </p>
    <p>sendo k em s<sup>-1</sup> e T em Kelvin. Neste projeto, deseja-se alimentar 7.850 kg de acetona por hora em um reator tubular. 
        O reator consiste em um conjunto de 1.000 tubos (série 40) de uma polegada de diâmetro. Consideraremos quatro casos de 
        operação de trocador de calor. A temperatura e a pressão de entrada são as mesmas para todos os casos, 1.035 K e 162 
        kPa (1,6 atm), respectivamente, e a temperatura disponível na entrada do meio de aquecimento é 1.250 K. O fluido de 
        transferência térmica tem uma vazão molar, ṁ<sub>C</sub>, de 0,111 mol/s, com calor específico de 34,5 J/mol &#x00d7 K.
    </p>
    <p>
        Um conjunto de 1.000 tubos, série 40, de 1 polegada de diâmetro e 1,79 metro de comprimento corresponde a 1,0 m³ 
        (0,001 m³/tubo = 1,0 dm³/tubo) e fornece uma conversão de 20%. Ceteno é instável e tende a explodir, o que é uma boa 
        razão para manter a conversão baixa. Todavia, o material do tubo e o tamanho estabelecido devem ser verificados para 
        saber se eles são adequados para essas temperaturas e pressões. Além disso, o projeto final e as condições operacionais 
        precisam ser liberados pelo comitê de segurança antes do início da operação.
    </p>
    <p>Informações adicionais:</p>
    <div id="conteudo3">
        <div class="d-flex flex-wrap justify-content-center"> 
            <div>
            \begin{align}
            CH_{3}COCH_{3} (A): & \quad H_{A}^{\circ}(T_{R})=-216,67 ~ kJ/mol \notag\\
            CH_2 CO(B): & \quad H_{B}^{\circ}(T_{R})=-61,09 ~ kJ/mol \notag\\
            CH_4(C): & \quad H_{C}^{\circ}(T_{R})=-74,81 ~ kJ/mol \notag\\
            N_2(I): & \quad C_{P_{I}}=28,1 ~ J/(mol \cdot K) \notag
            \end{align}
            </div>
            <div>
            \begin{align}
            & \quad \quad U=110 ~ J/(s \cdot m^2 \cdot K) \notag\\
            & \quad \quad C_{P_{A}}=163 ~ J/(mol \cdot K) \notag\\
            & \quad \quad C_{P_{B}}=83 ~ J/(mol \cdot K) \notag\\
            & \quad \quad C_{P_{C}}=71 ~ J/(mol \cdot K) \notag
            \end{align}
            </div>
        </div>
    </div>

</div>
<div class="">
    <form method="post" id="formulario" action="{% url 'e122_pfr' %}">
        {% csrf_token %}

        <div class="row border rounded-bottom py-3">
            <div class="col-md p-md-3">
                {% for field in form %}
                {% if field.name != 'x' %}
                {% if field.name == 'FA0' %}
                </div><div class="col-md p-md-3">{% endif %}
                <div class="d-flex flex-row g-3 align-items-center py-1">
                    <div class="px-3 col-md-3 col-3 text-center">
                        <label for="" class="col-form-label">{{ field.name }}</label>
                    </div>
                    <div class="col-md-auto col-6">
                        {{ field }}
                    </div>
                    <div class="col-md-auto col-3">
                        <span class="form-text px-3">{{ field.help_text }}</span>
                    </div>
                </div>
                {% else %}
                </div>
                <div class=" my-auto p-3 text-center">
                    <div class="py-1">{{field.label}}</div>
                    <div class="">{{field}}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <section class="mx-md-3 d-flex flex-wrap">
            <div class="text-center py-2 col-12 col-md-3">
                <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                        data-bs-toggle="popover"
                        data-bs-html="true"
                        data-bs-placement="bottom"
                        data-bs-content=
                        "{% for field in form %}
                            {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                                <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                            {% elif field.name != 'x' %}
                                <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                            {% endif %}
                        {% endfor %}">
                    Lista de Símbolos <i class="bi bi-question-square"></i>
                </button>
            </div>
            <div class="col-12 col-md-6 text-center py-3 justify-content-center">
                <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
            </div>
        </section>
        <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
    </form>

    <section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados">
    </section>

    <div class="pt-5" id="titulo_grafico"></div>

    <div class="container-fluid">
        <div class="d-flex flex-wrap py-4 justify-content-center">
            <div class="chart-container">
                <canvas id="grafico_X"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="grafico_T"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}   

<script type="module">
    import { criarGrafico1V, criarGrafico2V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e122_pfr' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        var chart = document.getElementById("grafico_X").parentNode;
        document.getElementById("grafico_X").remove();
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.X, data.V, "X", "Conversão", "Volume (dm³/tubo)", "Conversão ao longo do tempo de reação em um reator Batelada", "grafico_X")
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.T, data.Ta, data.V, "T", "Ta", "Temperatura (K)", "Volume (dm³/tubo)", "Temperatura do reator Batelada ao longo do tempo", "grafico_T")
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["dm³/tubo","","K","K"];
        criarEstrutura(data, unidade);  
    }
    }) 
});

</script>

{% endblock scripts %}