{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathjax %}
{% load static %}

{% block title %}Exemplo 12.2{% endblock title %}

{% block exemplo %}Exemplo 12.2{% endblock exemplo %}

{% block content %}
<!-- Configuração inline do Mathjax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$$']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            TeX: {
                equationNumbers: { autoNumber: 'AMS' },
                extensions: ['AMSmath.js', 'AMSsymbols.js', 'autobold.js']
            }
        }
    });
    function mostrarElemento(id) {
        document.getElementById(id).style.display = 'block';
    }
    MathJax.Hub.Queue(function() {
        // Coloque aqui o código para exibir ou fazer algo com o conteúdo
        mostrarElemento('conteudo1');
        mostrarElemento('conteudo2');
        mostrarElemento('conteudo3');
    });
</script>

<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Exemplo 12.2 Produção de Anidrido Acético PFR com efeitos térmicos</h5></p>
    <p>Jeffreys, em um tratamento do projeto de uma planta de fabricação de anidrido acético, estabelece que uma das etapas-chave é o craqueamento endotérmico em fase vapor da acetona a ceteno e metano</p>
    <p class="text-center" id="conteudo1" style="display: none;"> 
        $$ CH_{3}COCH_{3} \rightarrow CH_{2}CO +CH_{4} $$
    </p>
    <p>
        O artigo estabelece ainda que essa reação é de primeira ordem em relação à acetona e que a constante de taxa é dada por</p>
    </p>
    <div id="conteudo2" style="display: none;">
        $$ ln k = 34,34 - \frac{34222}{T} $$
    </div>
    <p class="pt-2">Exemplos de reação endotérmica em fase gasosa:</p>
    <p>
        <div>1.Processo adiabático</div>
        <div>2.Transferência de calor, com Ta constante</div>
        <div>3.Transferência de calor em cocorrente, com Ta variável</div>
        <div>4.Transferência de calor em contracorrente, com Ta variável    </div>
    </p>
    <p>sendo k em s<sup>-1</sup> e T em Kelvin. Neste projeto, deseja-se alimentar 7.850 kg de acetona por hora em um reator tubular. 
        O reator consiste em um conjunto de 1.000 tubos (série 40) de uma polegada de diâmetro. Consideraremos quatro casos de 
        operação de trocador de calor. A temperatura e a pressão de entrada são as mesmas para todos os casos, 1.035 K e 162 
        kPa (1,6 atm), respectivamente, e a temperatura disponível na entrada do meio de aquecimento é 1.250 K. O fluido de 
        transferência térmica tem uma vazão molar, ṁ<sub>C</sub>, de 0,111 mol/s, com calor específico de 34,5 J/mol &#x00d7 K.
    </p>
    <p>
        Um conjunto de 1.000 tubos, série 40, de 1 polegada de diâmetro e 1,79 metro de comprimento corresponde a 1,0 m³ 
        (0,001 m³/tubo = 1,0 dm³/tubo) e fornece uma conversão de 20%. Ceteno é instável e tende a explodir, o que é uma boa 
        razão para manter a conversão baixa. Todavia, o material do tubo e o tamanho estabelecido devem ser verificados para 
        saber se eles são adequados para essas temperaturas e pressões. Além disso, o projeto final e as condições operacionais 
        precisam ser liberados pelo comitê de segurança antes do início da operação.
    </p>
    <p>Informações adicionais:</p>
    <div id="conteudo3" style="display: none;">
        \begin{gathered}
        \mathrm{CH}_3 \mathrm{COCH}_3(\mathrm{~A}): \mathrm{H}_{\mathrm{A}}^{\circ}\left(T_{\mathrm{R}}\right)=-216,67 \mathrm{~kJ} / \mathrm{mol}, \mathrm{C}_{\mathrm{P}_{\mathrm{A}}}=163 \mathrm{~J} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{CH}_2 \mathrm{CO}(\mathrm{B}): \mathrm{H}_{\mathrm{B}}^{\circ}\left(\mathrm{T}_{\mathrm{R}}\right)=-61,09 \mathrm{~kJ} / \mathrm{mol}, \mathrm{C}_{\mathrm{P}_{\mathrm{B}}}=83 \mathrm{~J} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{CH}_4(\mathrm{C}): \mathrm{H}_{\mathrm{C}}^{\circ}\left(\mathrm{T}_{\mathrm{R}}\right)=-74,81 \mathrm{~kJ} / \mathrm{mol}, \mathrm{C}_{\mathrm{P}_{\mathrm{C}}}=71 \mathrm{~J} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{N}_2(\mathrm{I}): \mathrm{C}_{\mathrm{P}_{\mathrm{I}}}=28,1 \mathrm{~J} / \mathrm{mol} \cdot \mathrm{K} \\
        U=110 \mathrm{~J} / \mathrm{s} \cdot \mathrm{m}^2 \cdot \mathrm{K}
        \end{gathered}
    </div>

</div>

<form  method="post" id="formulario" action="{% url 'e122_pfr' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom">    
        <div class="col-md p-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'FA0' %}</div><div class="col-md p-3">{% endif %}
            <div class="row g-3 align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-auto">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
    <section class="mx-5 position-relative">
        <div class="position-absolute top-0 start-0" >
            <button  type="button" class="btn border border-white p-1" id="lista-de-simbolos"
            data-bs-toggle="popover"
            data-bs-html="true"
            data-bs-content="{% for field in form %}{{ field.name }}:<br>{% endfor %}">
            Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="text-center py-3">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="submit">
        </div> 
    </section>
</form>

<div class="pt-5">
    <div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>
</div>
<div class="container-fluid">
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_X"></canvas>
        </div>
    </div>
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>

<div class="py-4">
    <div class="border-bottom"><h1 class="h2 text-center">Tabelas</h1></div>
</div>
<div class="container-fluid">
<table class="table table-striped table-hover table-sm text-center p-5 border"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">V (dm³/tubo)</th>
            <th scope="col">X</th>
            <th scope="col">T (K)</th>
            <th scope="col">Ta (K)</th>

        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for q in qs %}
        <tr>
            <td>{{ q.pk }}</td>
            <td>{{ q.V }}</td>
            <td>{{ q.X }}</td>
            <td>{{ q.T0 }}</td>
            <td>{{ q.Ta0 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}

{% block scripts %}   
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
<!-- Biblioteca Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('grafico_X').getContext('2d');
    const myChartF = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'X',
                    data: {{X}},
                    parsing: {
                        yAxisKey: {{X}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Conversão ao longo do tempo de reação em um reator Batelada'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{V}}, //{{t}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Volume (dm³/tubo)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Conversão'
                    }
                }
            },
        },
        
    });
</script>
<script>
    const ctx2 = document.getElementById('grafico_T').getContext('2d');
    const myChartT = new Chart(ctx2, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'T',
                    data: {{T}},
                    parsing: {
                        yAxisKey: {{T}},
                    },
                },
                {
                    label: 'Ta',
                    data: {{Ta}},
                    parsing: {
                        yAxisKey: {{Ta}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Temperatura do reator Batelada ao longo do tempo'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{V}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Volume (dm³/tubo)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Temperatura (K)'
                    }
                }
            },
        },
        
    });
</script>

{% endblock scripts %}