{% extends 'base.html' %}
{% load static %}

{% block title %}CSTR1{% endblock title %}

{% block exemplo %}CSTR1 - Ponto de Operação{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">CSTR com uma Serpentina de Resfriamento</h5></p>
    <p>Baseado no Exemplo 12.4 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>Propilenoglicol é produzido pela hidrólise de óxido de propileno:</p>
    <p class="text-center col col-md-6 mx-auto" id="conteudo1"> 
        <img class=" w-100" src="{% static 'img/e131-1.png' %}" alt="">
    </p>
    <p>
        Vamos trabalhar com este problema em lbm, s, ft³ e lb-mol em vez de g, mol e m³, de modo a dar ao leitor maior prática 
        ao trabalhar com sistemas inglês e métrico. Por quê? Muitas plantas ainda usam o sistema inglês de unidades.
    </p>
    <p>Você está alimentando 2.500 lbm/h (43,04 lb-mol/h) de óxido de propileno (O.P.) em um reator. A corrente de alimentação 
        consiste em (1) uma mistura equivolumétrica de óxido de propileno (46,62 ft³/h) e de metanol (46,62 ft³/h) e (2) água 
        contendo 0,1% em massa de H<sub>2</sub>SO<sub>4</sub>. A vazão volumétrica da água é 233,1 ft³/h, que é 2,5 vezes a vazão de metanol-O.P. As 
        taxas molares correspondentes de metanol e água são 71,87 e 802,8 lb-mol/h, respectivamente. A mistura água-óxido de 
        propileno-metanol sofre uma leve contração no volume da mistura (aproximadamente 3%), mas você despreza essa diminuição 
        em seus cálculos. A temperatura de ambas as correntes de alimentação é de 58°F antes da mistura, há, porém, um aumento 
        imediato de 17°F na temperatura após a mistura das duas correntes de alimentação, causado pelo calor de mistura. A temperatura 
        na entrada de todas as correntes de alimentação é então considerada como 75°F.</p>
    <div id="conteudo2" class="text-center col col-md-6 mx-auto">
        <img src="{% static 'img/e124-1.png' %}" alt="" responsive-image class="w-100">
    </div>
    <p class="pt-2"> A equipe de engenharia Furusawa no Japão estabelece que, sob condições similares àquelas que você está operando, 
        a reação é de aparente primeira ordem na concentração do óxido de propileno e de aparente ordem zero em excesso de água, com 
        a constante de taxa de reação sendo.</p>
    <div class="py-2" id="conteudo3">
        $$ k=A e^{-E / R T}=16,96 \times 10^{12}\left(e^{-32400 / R T}\right) \mathrm{h}^{-1} $$
    </div>
    <p>A unidade de E está em Btu/lb-mol e a de T em R.</p>
    <p>Há uma restrição importante em sua operação. O óxido de propileno é uma substância de baixo ponto de ebulição. Com a mistura 
        que você está usando, a equipe de segurança sente que você não pode exceder uma temperatura de operação de 125°F, senão você 
        perderá muito óxido por vaporização através do sistema de ventilação.</p>
    <p>
        A serpentina de resfriamento tem 40 ft² de superfície de resfriamento e a vazão da água de resfriamento dentro da serpentina
        é suficientemente grande, de modo que uma temperatura constante de resfriamento de 85°F possa ser mantida. Um coeficiente 
        global de transferência de calor típico para tal serpentina é 100 Btu/h&#x22C5 ft²&#x22C5 °F. O reator satisfará a restrição prévia de 125°F 
        para a temperatura máxima, se a serpentina de resfriamento for usada?
    </p>
        
</div>

<form  method="post" id="formulario" action="{% url 'e124_cstr' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom py-3">    
        <div class="col-md p-md-3">
            {% for field in form %}
            {% if field.name == 'FA0' %}</div><div class="col-md p-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-3">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
        
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_X"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script type="module">
    import { criarGrafico2V, criarEstrutura, modificarEstruturaEE } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e124_cstr' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_X").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.XBM, data.XBE, data.T, "XBM", "XBE", "Conversão", "Temperatura (K)", "Conversão x Temperatura", "grafico_X");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["K","",""];
        //criarEstrutura(data, unidade); 
        modificarEstruturaEE(data.EE, unidade); 
    };
    }) 
});

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% endblock scripts %}