{% extends 'base.html' %}
{% load static %}

{% block title %}CSTR2{% endblock title %}

{% block exemplo %}CSTR2 - Múltiplos Pontos de Operação{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Pontos de operação de um CSTR com reações múltiplas</h5></p>
    <p>Baseado no Exemplo 12.6 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>As reações elementares em fase líquida</p>
    <p class="text-center" id="conteudo1">$A \stackrel{k_1}{\longrightarrow} \mathrm{B} \stackrel{k_2}{\longrightarrow} \mathrm{C}$</p>
    <p>ocorrem em um CSTR de <b>10 dm³</b>. Quais são as concentrações do efluente para uma vazão volumétrica de <b>1.000 dm³/min</b>, com uma concentração de <b>0,3 mol/dm³</b>? A temperatura de entrada é <b>283 K</b>.</p>
    <p>Informações adicionais:</p>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo3">
        <div>
            \begin{gather}
            & \quad C_{\mathrm{P}_{\mathrm{A}}}=C_{\mathrm{P}_{\mathrm{B}}}=C_{\mathrm{P}_{\mathrm{C}}} = 200 \mathrm{~J} / \mathrm{mol} \cdot \mathrm{K} \quad \notag\\
            & \quad k_1=3,3 \mathrm{~min}^{-1} \mathrm{~em~} 300 \mathrm{~K} \quad \notag\\
            & \quad k_2=4,58 \mathrm{~min}^{-\mathrm{I}} \mathrm{~em~} 500 \mathrm{~K} \quad \notag\\
            & \quad E_{\mathrm{I}}=9.900 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
            & \quad E_2=27.000 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
            \end{gather}
        </div>
        <div>
            \begin{gather}
            & \quad \Delta H_{\mathrm{RxIA}}=-55.000 \mathrm{~J} / \mathrm{mol} \mathrm{A} \quad \notag\\
            & \quad \Delta H_{\mathrm{Rx} 2 \mathrm{~B}}=-7 \mathrm{I} .500 \mathrm{~J} / \mathrm{mol} \mathrm{B} \quad \notag\\
            & \quad UA=40.000 \mathrm{~J} / \mathrm{min} \cdot \mathrm{K} \quad \notag\\
            & \quad T_a=57^{\circ} \mathrm{C} \quad \notag
            \end{gather}
        </div>
    </div>
</div>

<form  method="post" id="formulario" action="{% url 'e126_cstr_multiplas' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom py-3">   
        <div class="col-md px-md-3">
            {% for field in form %}
            {% if field.name == 'E1' or field.name == 'x' %}</div><div class="col-md px-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-2">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_pontosEE_cstr"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="module">
    import { criarGrafico2V, criarEstrutura, modificarEstruturaEE } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e126_cstr_multiplas' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_pontosEE_cstr").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_pontosEE_cstr');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.GT, data.RT, data.T, "GT", "RT", "Calor (cal/mol)", "Temperatura (K)", "Pontos de operação do CSTR", "grafico_pontosEE_cstr");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página
        
        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = [" (K)"," (mol/L)"," (mol/L)"," (mol/L)"];
        //criarEstrutura(data, unidade);  
        modificarEstruturaEE(data.EE, unidade);
    };
    }) 
});
</script>
{% endblock scripts %}