{% extends 'base.html' %}
{% load static %}

{% block title %}PFR3{% endblock title %}

{% block exemplo %}PFR3 - Reações Complexas{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Reações Complexas com Efeitos Térmicos em um PFR</h5></p>
    <p>Baseado no Exemplo 12.7 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>As seguintes reações complexas em fase gasosa seguem as equações de taxa elementares</p>
    <div class="d-flex flex-wrap justify-content-center py-3" id="conteudo1">
        <div>
            \begin{align}
            & \quad (1)\quad \mathrm{A}+2 \mathrm{~B} \rightarrow \mathrm{C} \quad \notag\\
            & \quad (2)\quad 2 \mathrm{~A}+3 \mathrm{C} \rightarrow \mathrm{D} \quad \notag
            \end{align}
        </div>
        <div>
            \begin{align}
            & \quad -r_{1 \mathrm{~A}}=k_{1 \mathrm{~A}} C_{\mathrm{A}} \mathrm{C}_{\mathrm{B}}^2 \quad \notag\\
            & \quad -r_{2 \mathrm{C}}=k_{2 \mathrm{C}} \mathrm{C}_{\mathrm{A}}^2 \mathrm{C}_{\mathrm{C}}^3 \quad \notag
            \end{align}
        </div>
        <div>
            \begin{align}
            & \quad \Delta H_{\mathrm{Rx} 1 \mathrm{~B}}=-15.000 \mathrm{cal} / \mathrm{mol} \mathrm{B} \quad \notag\\
            & \quad \Delta \mathrm{H}_{\mathrm{Rx} 2 \mathrm{~A}}=-10.000 \mathrm{cal} / \mathrm{mol} \mathrm{A} \quad \notag
            \end{align}
        </div>
    </div>
    <p>e ocorrem em um PFR. A alimentação é estequiométrica para a reação (1) em A e B com F<sub>A0</sub> = 5 mol/min. O volume do reator é de 10 dm³ e a concentração total de entrada é C<sub>T0</sub> = 0,2 mol/dm³  . Na entrada, a pressão é 100 atm e a temperatura é 300 K. A taxa do refrigerante é 50 mol/min e na entrada o fluido refrigerante tem um calor específico de C<sub>PC0</sub> = 10 cal/mol∙K e uma temperatura de 325 K.</p>
    <div>Parâmetros:</div>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo2" >
        <div>
            \begin{gather}
            \quad & k_{1 \mathrm{~A}}= 40\left(\frac{\mathrm{dm}^3}{\mathrm{~mol}}\right)^2 / \mathrm{min} \text { a } 300 \mathrm{~K} \quad \notag\\
            \quad & k_{2 C}=2\left(\frac{\mathrm{dm}^3}{\mathrm{~mol}}\right)^4 / \mathrm{min} \text { a } 300 \quad \notag\\
            \quad & E_1=8.000 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
            \quad & E_2=12.000 \mathrm{~cal} / \mathrm{mol} \quad \notag
            \end{gather}
        </div>
        <div>
            \begin{align}
            \quad & C_{\mathrm{P}_{\mathrm{A}}}=10 \mathrm{cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
            \quad & C_{\mathrm{P}_{\mathrm{B}}}=12 \mathrm{cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
            \quad & C_{\mathrm{P}_{\mathrm{C}}}=14 \mathrm{cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
            \quad & C_{\mathrm{P}_{\mathrm{D}}}=16 \mathrm{cal} / \mathrm{mol} / \mathrm{K} \quad \notag
            \end{align}
        </div>
        <div>
            \begin{align}
            \quad & U a=80 \frac{\mathrm{cal}}{\mathrm{m}^3 \cdot \mathrm{min} \cdot \mathrm{K}} \quad \notag\\
            \quad & T_{a 0}=325 \mathrm{~K} \quad \notag\\
            \quad & \dot{m}_C=50 \mathrm{~mol} / \mathrm{min} \quad \notag\\
            \quad & C_{\mathrm{P}_{\mathrm{C} 0}}=10 \mathrm{~cal} / \mathrm{mol} / \mathrm{K} \quad     \notag
            \end{align}
        </div>
    </div>
    <p class="pt-2">Faça gráficos de F<sub>A </sub>, F<sub>B </sub>, F<sub>C </sub>, F<sub>D </sub>, p, T e Ta em função de V para</p>
    <p><b>(a)</b> Transferência de calor concorrente</p>
    <p><b>(b)</b> Transferência de calor em contracorrente</p>
    <p><b>(c)</b> Ta constante</p>
    <p><b>(d)</b> Operação adiabática</p>
</div>

<form  method="post" id="formulario" action="{% url 'e127_pfr_multiplas' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom py-3">    
        <div class="col-md p-md-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'FC' %}</div><div class="col-md p-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-2">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3 text-center"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_F"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script type="module">
    import { criarGrafico2V, criarGrafico4V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e127_pfr_multiplas' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_F").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_F');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico4V(data.FA, data.FB, data.FC, data.FD, data.V, "FA", "FB", "FC", "FD", "Vazão molar (mol/min)", "Volume (L)", "Vazão molar das espécies A, B, C e D ao longo do PFR", "grafico_F");
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.T, data.Ta, data.V, "T", "Ta", "Temperatura (K)", "Volume (L)", "Temperatura ao longo do PFR", "grafico_T");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página
        
        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["L","mol/min","mol/min","mol/min","mol/min","K","K"];
        criarEstrutura(data, unidade);  
    };
    }) 
});

</script>

{% endblock scripts %}