{% extends 'base.html' %}
{% load static %}

{% block title %}BR1{% endblock title %}

{% block exemplo %}BR1 - Efeitos Térmicos{% endblock exemplo %}

{% block content %}

<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Reator em Batelada com uma reação exotérmica</h5></p>
    <p>Baseado no Exemplo 13.1 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>Ainda é inverno e, embora você sonhasse com uma transferência para a fábrica na costa tropical do sul da Flórida, infelizmente você ainda é o engenheiro do CSTR do Exemplo 12.3, empregado na produção de propilenoglicol.</p>
    <p class="text-center col col-md-6 mx-auto" id="conteudo1"> 
        <img src="{% static 'img/e131-1.png' %}" alt="" class="w-100">
    </p>
    <p>
        Você está considerando a possibilidade de instalar um novo e atraente CSTR, revestido internamente de vidro e com um volume 
        de 1.000 dm³. Você decide então fazer uma rápida verificação da cinética da reação e da temperatura adiabática máxima.
         Para essa finalidade, você conta com um elegante e bem equipado reator em batelada agitado de 40 dm³ (~10 gal), que 
         você solicitou de uma empresa. Você carrega (ou seja, enche) esse reator com 4 dm3 (~1 gal) de óxido de etileno, 4 dm3 
         (~1 gal) de metanol e 10 dm³ (~2,5 gal) de água contendo 0,1% em massa de H<sub>2</sub>SO<sub>4</sub>. Por motivos de segurança, o reator é 
         instalado em um galpão às margens do Lago Walloon (você não gostaria que toda a planta industrial fosse destruída, 
         caso o reator explodisse). Nessa época do ano, no norte de Michigan, a temperatura inicial de todos esses materiais 
         é 276 K (3 °C). Temos que ter cuidado aqui! Se a temperatura do reator aumentar acima de 350 K (77 °C), uma reação secundária, 
         mais exotérmica, acontecerá, causando descontrole e explosão subsequente, semelhante à ocorrida na explosão da fábrica da 
         T2 Laboratory, na Flórida.
    </p>
    <p>Embora você tenha solicitado a obtenção de dados para essa reação ao laboratório nacional de pesquisa de Jofostan, o departamento 
        de compras decidiu economizar dinheiro e comprá-lo da Internet. Os valores obtidos são</p>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo2">
        <div>
        \begin{gather}
         \quad \mathrm{E}=18.000 \mathrm{cal} / \mathrm{mol} \quad \notag\\
         \quad \Delta \mathrm{H}_{\mathrm{Rx}}^{\circ}=-20.202 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
         \quad \mathrm{C}_{\mathrm{P}_{\mathrm{M}}}=19,5 \mathrm{~cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
        \end{gather}
        </div>
        <div>
        \begin{gather}
         \quad \mathrm{C}_{\mathrm{P}_{\mathrm{A}}}=35 \mathrm{~cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
         \quad \mathrm{C}_{\mathrm{P}_{\mathrm{B}}}=18 \mathrm{~cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
         \quad \mathrm{C}_{\mathrm{P}_{\mathrm{C}}}=46 \mathrm{~cal} / \mathrm{mol} / \mathrm{K} \quad \notag\\
        \end{gather}
        </div>
    </div>
    <p class="pt-2">O Prof. Dr. Sven Köttlov se opôs a esta compra pela Internet e disse que deveria ser registrado que ele é cético em relação aos valores desses parâmetros. 
        As concentrações iniciais do óxido de etileno puro e do metanol são 13,7 mol/dm³ e 24,7 mol/dm³, respectivamente. Consequentemente, os números iniciais de mols adicionados ao reator são</p>
    <div class="pb-3 muito_grande" id="conteudo3">
        <div class="d-flex flex-wrap justify-content-center"><div>$\text {Óxido de etileno (A): } $</div><div> $ \mathrm{N}_{\mathrm{A} 0}=\left(13,7 \mathrm{~mol} / \mathrm{dm}^3\right)\left(4 \mathrm{~dm}^3\right)=54,8 \mathrm{~mol} $</div></div>
        <div class="d-flex flex-wrap justify-content-center"><div>$\text {Água (B): } $</div><div> $ \mathrm{N}_{\mathrm{B0}}=\left(55,5 \mathrm{~mol} / \mathrm{dm}^3\right)\left(10 \mathrm{~dm}^3\right)=555 \mathrm{~mol} \\$</div></div>
        <div class="d-flex flex-wrap justify-content-center"><div>$\text {Metanol (M): } $</div><div> $ \mathrm{N}_{\mathrm{M}}=\left(24,7 \mathrm{~mol} / \mathrm{dm}^3\right)\left(4 \mathrm{~dm}^3\right)=98,8 \mathrm{~mol} $</div></div>
    </div>
    <p>O catalisador ácido sulfúrico ocupa um espaço insignificante; então, o volume total é de 18 dm³, enquanto os dados e a equação da taxa de reação estão no Exemplo 12.3. Trabalharemos com dois cenários: 
        (1) conhecer o quão rápido a temperatura sobe e quanto tempo leva para atingir 350 K para uma operação adiabática, e, (2) quanto tempo demoraria para atingir 345 K se adicionarmos um trocador de calor.</p>
    <p><b>(a)</b> Operação Adiabática</p>
    <p><b>(b)</b> Troca de calor</p>

</div>

<form  method="post" id="formulario" action="{% url 'e131_batelada' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom py-3">    
        <div class="col-md px-md-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'T0' %}</div><div class="col-md px-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-2">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_X"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="module">
    import { criarGrafico1V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e131_batelada' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_X").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.X, data.t, "X", "Conversão", "Tempo (s)", "Conversão ao longo do tempo de reação em um reator Batelada", "grafico_X");
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.T, data.t, "T", "Temperatura (K)", "Tempo (s)", "Temperatura do reator Batelada ao longo do tempo", "grafico_T");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["s","","K"];
        criarEstrutura(data, unidade);  
    }
    }) 
});

</script>

{% endblock scripts %}