{% extends 'base.html' %}
{% load static %}

{% block title %}BR2{% endblock title %}

{% block exemplo %}BR2 - Reações Exotérmicas Descontroladas{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Segurança em Plantas Químicas com Reações Exotérmicas Descontroladas</h5></p>
    <p>Baseado no Exemplo 13.2 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>
        Um sério acidente ocorreu na planta da Monsanto em Sauget, Illinois, em 8 de agosto de 1969, a 0h18min (veja a Figura E13.2.1). 
        (Sauget (pop. 200) é a casa dos Campeões da Liga Mon-Clar de Softbol de 1988.) A explosão foi ouvida a uma distância de 10 
        milhas, em Belleville, Illinois, onde as pessoas foram acordadas do sono profundo. A explosão ocorreu em um reator em batelada 
        que era usado para produzir nitroanilina a partir de amônia e o-nitroclorobenzeno (ONCB):.
    </p>
    <p class="text-center col col-md-6 mx-auto" id="conteudo1"> 
        <img src="{% static 'img/e132-1.png' %}" alt="" class="w-100">
    </p>
    <p>
        Essa reação é normalmente conduzida isotermicamente a 175 °C e em torno de 500 psi, por um período de 24 horas. A temperatura 
        ambiente da água de refrigeração do trocador de calor é de 25 °C. Por meio do ajuste da vazão do refrigerante, a temperatura 
        do reator pode ser mantida em 175 °C. Na vazão máxima do fluido refrigerante, a temperatura ambiente de 25 °C é mantida ao 
        longo do trocador de calor.
    </p>
    <p>
        Deixe-me contar alguns fatos referentes à operação do reator. Ao longo dos anos, o trocador de calor falhava de tempos em 
        tempos, mas os técnicos agiam prontamente de forma intuitiva e conseguiam, após cerca de 10 minutos, restaurar a operação 
        do reator, jamais tendo ocorrido problema algum. Um dia, supostamente alguém verificou o reator e disse: “Parece que seu 
        reator está cheio apenas até um terço de sua capacidade e você tem ainda espaço para adicionar mais reagentes e obter mais 
        produto. Que tal encher o reator até sua capacidade máxima e assim triplicar sua produção?” Assim os operadores fizeram e 
        deram a partida às 21h45min. Por volta da meia-noite, o reator explodiu
    </p>
    <p>No dia do acidente, duas alterações na operação normal do reator foram feitas.</p>
    <p>Uma decisão foi tomada para triplicar a produção.</p>
    <p>1. O reator foi carregado com 9,044 kmols de ONCB, 33,0 kmols de NH<sub>3</sub>  e 103,7 kmols de H<sub>2</sub>O. Normalmente, o reator era carregado 
        com 3,17 kmols de ONCB, 103,6 kmols de H<sub>2</sub>O e 43 kmols de NH<sub>3</sub>.</p>
    <p>2. A reação é normalmente conduzida isotermicamente a 175 °C durante um período de 24 horas. No entanto, aproximadamente 45 
        minutos após o início da reação, a refrigeração do reator falhou, mas por apenas 10 minutos, após o que o resfriamento 
        voltou a funcionar, aos 55 minutos. A refrigeração pode ter sido interrompida durante cerca de 10 minutos em outras ocasiões 
        quando a carga normal de 3,17 kmols de ONCB foi utilizada, sem ter ocorrido nenhum efeito danoso.</p>
    <p>O reator tinha uma válvula de segurança, em que a ruptura do disco ocorreria quando a pressão excedesse 700 psi, aproximadamente. 
        Se a ruptura do disco tivesse ocorrido, a pressão do reator teria caído, causando a vaporização da água e a mistura reacional 
        seria resfriada (resfriamento rápido) pela liberação do calor latente de vaporização.</p>
    <p>Informações adicionais:</p>

    <div id="conteudo2">
        $$ \text{Equação da taxa:} -\mathrm{r}_{\mathrm{ONCB}}=\mathrm{kC}_{\mathrm{ONCB}} \mathrm{C}_{\mathrm{NH}_3} $$
        $$
        \mathrm{k}=0,00017 \frac{\mathrm{m}^3}{\mathrm{kmol} \cdot \min } \mathrm{~em~} 188~^{\circ} \mathrm{C}~(461~ \mathrm{K}) 
        $$
        $$ \mathrm{E} = 11.273 \mathrm{~cal} / \mathrm{mol} $$
        O volume de reação para a carga de 9,0448 kmols de ONCB:
        $$
        \mathrm{V}=\mathrm{V}_{\mathrm{aqNH}}+\mathrm{V}_{\mathrm{ONCB}}
        $$

        Como a amônia é solúvel em água, o volume de amônia aquosa não mudará muito com a adição de amônia e, portanto, consideraremos que o volume é constante em 3,9 m³ (ou seja, V<sub>aqNH3</sub> $ \cong$ V<sub>aqam</sub> = 3,9 m³ ) para ambos os casos. O volume de ONCB é
        
        <div class="d-flex flex-wrap justify-content-center align-items-center py-3">
            <div>
                \begin{equation} 
                \mathrm{V}_{\mathrm{ONCB}}=\frac{\mathrm{N}_{\mathrm{ONCB}} \cdot \mathrm{M} \mathrm{~W}_{\mathrm{ONCB}}}{\rho_{\mathrm{ONCB}}}
                \notag\end{equation}
            </div>
            <div>
                \begin{equation} 
                =\frac{(9,04 \mathrm{kmol})\left(157,5 \frac{\mathrm{kg}}{\mathrm{kmol}}\right)}{1.199 \frac{\mathrm{kg}}{\mathrm{m}^3}}=1,19 \mathrm{~m}^3
                \notag\end{equation}
            </div>
        </div>

        O volume total para o aumento da carga do reator é
        $$
        \mathrm{V}=3,9 \mathrm{~m}^3+1,19 \mathrm{~m}^3=5,1 \mathrm{~m}^3
        $$
        O volume de reação para a carga anterior, de 3,17 kmols de ONCB, era $\\$
        $$
        \begin{gathered}
        \mathrm{V}=3,9 \mathrm{~m}^3+0,42 \mathrm{~m}^3=4,32 \mathrm{~m}^3 \\
        \Delta \mathrm{H}_{\mathrm{Rx}}=-5,9 \times \mathrm{10}^5 \mathrm{~kcal} / \mathrm{kmol} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{ONCB}}}=\mathrm{C}_{\mathrm{P}_{\mathrm{A}}}=40 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{H}_2 \mathrm{O}}}=\mathrm{C}_{\mathrm{P}_{\mathrm{W}}}=\mathrm{1} 8 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{NH}_3}}=\mathrm{C}_{\mathrm{P}_{\mathrm{B}}}=8,38 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K}
        \end{gathered}
        $$
        Considerando que $\Delta C_{\mathrm{P}} \approx 0$
        $$
        \mathrm{UA}=\frac{35,85 \mathrm{kcal}}{\mathrm{min}^{\circ} \mathrm{C}} \operatorname{com~} \mathrm{T}_{\mathrm{a}}=298 \mathrm{~K}
        $$
    </div>

</div>

<form  method="post" id="formulario" action="{% url 'e132_batelada' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom py-3">    
        <div class="col-md px-md-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'T0' %}</div><div class="col-md px-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1 ">
                <div class="col-2 text-center">
                    <div for="" class="col-form-label">{{ field.name }}</div>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-2">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_X"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="module">
    import { criarGrafico1V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e132_batelada' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_X").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.X, data.t, "X", "Conversão", "Tempo (s)", "Conversão ao longo do tempo de reação em um reator Batelada", "grafico_X");
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.T, data.t, "T", "Temperatura (K)", "Tempo (s)", "Temperatura do reator Batelada ao longo do tempo", "grafico_T");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["s","","K"];
        criarEstrutura(data, unidade);  
    };
    }) 
});

</script>
{% endblock scripts %}