{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathjax %}
{% load static %}

{% block title %}Exemplo 13.2{% endblock title %}

{% block exemplo %}Exemplo 13.2{% endblock exemplo %}

{% block content %}
<!-- Configuração inline do Mathjax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$$']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            TeX: {
                equationNumbers: { autoNumber: 'AMS' },
                extensions: ['AMSmath.js', 'AMSsymbols.js', 'autobold.js']
            }
        }
    });
    function mostrarElemento(id) {
        document.getElementById(id).style.display = 'block';
    }
    MathJax.Hub.Queue(function() {
        // Coloque aqui o código para exibir ou fazer algo com o conteúdo
        mostrarElemento('conteudo1');
        mostrarElemento('conteudo2');
        mostrarElemento('conteudo3');
    });
</script>

<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Exemplo 13.2 Segurança em Plantas Químicas com Reações Exotérmicas Descontroladas2a</h5></p>
    <p>
        Um sério acidente ocorreu na planta da Monsanto em Sauget, Illinois, em 8 de agosto de 1969, a 0h18min (veja a Figura E13.2.1). 
        (Sauget (pop. 200) é a casa dos Campeões da Liga Mon-Clar de Softbol de 1988.) A explosão foi ouvida a uma distância de 10 
        milhas, em Belleville, Illinois, onde as pessoas foram acordadas do sono profundo. A explosão ocorreu em um reator em batelada 
        que era usado para produzir nitroanilina a partir de amônia e o-nitroclorobenzeno (ONCB):.
    </p>
    <p class="text-center" id="conteudo1" style="display: none;"> 
        <img src="{% static 'img/e132-1.png' %}" alt="" width="365" height="125">
    </p>
    <p>
        Essa reação é normalmente conduzida isotermicamente a 175°C e em torno de 500 psi, por um período de 24 horas. A temperatura 
        ambiente da água de refrigeração do trocador de calor é de 25°C. Por meio do ajuste da vazão do refrigerante, a temperatura 
        do reator pode ser mantida em 175°C. Na vazão máxima do fluido refrigerante, a temperatura ambiente de 25°C é mantida ao 
        longo do trocador de calor.
    </p>
    <p>
        Deixe-me contar alguns fatos referentes à operação do reator. Ao longo dos anos, o trocador de calor falhava de tempos em 
        tempos, mas os técnicos agiam prontamente de forma intuitiva e conseguiam, após cerca de 10 minutos, restaurar a operação 
        do reator, jamais tendo ocorrido problema algum. Um dia, supostamente alguém verificou o reator e disse: “Parece que seu 
        reator está cheio apenas até um terço de sua capacidade e você tem ainda espaço para adicionar mais reagentes e obter mais 
        produto. Que tal encher o reator até sua capacidade máxima e assim triplicar sua produção?” Assim os operadores fizeram e 
        deram a partida às 21h45min. Por volta da meia-noite, o reator explodiu
    </p>
    <p>No dia do acidente, duas alterações na operação normal do reator foram feitas.</p>
    <p>Uma decisão foi tomada para triplicar a produção.</p>
    <p>1. O reator foi carregado com 9,044 kmols de ONCB, 33,0 kmols de NH<sub>3</sub>  e 103,7 kmols de H<sub>2</sub>O. Normalmente, o reator era carregado 
        com 3,17 kmols de ONCB, 103,6 kmols de H<sub>2</sub>O e 43 kmols de NH<sub>3</sub>.</p>
    <p>2. A reação é normalmente conduzida isotermicamente a 175°C durante um período de 24 horas. No entanto, aproximadamente 45 
        minutos após o início da reação, a refrigeração do reator falhou, mas por apenas 10 minutos, após o que o resfriamento 
        voltou a funcionar, aos 55 minutos. A refrigeração pode ter sido interrompida durante cerca de 10 minutos em outras ocasiões 
        quando a carga normal de 3,17 kmols de ONCB foi utilizada, sem ter ocorrido nenhum efeito danoso.</p>
    <p>O reator tinha uma válvula de segurança, em que a ruptura do disco ocorreria quando a pressão excedesse 700 psi, aproximadamente. 
        Se a ruptura do disco tivesse ocorrido, a pressão do reator teria caído, causando a vaporização da água e a mistura reacional 
        seria resfriada (resfriamento rápido) pela liberação do calor latente de vaporização.</p>
    <p>Informações adicionais:</p>

    <div id="conteudo2" style="display: none;">
        $$ \text{Equação da taxa:} -\mathrm{r}_{\mathrm{ONCB}}=\mathrm{kC}_{\mathrm{ONCB}} \mathrm{C}_{\mathrm{NH}_3} $$
        $$
        \operatorname{com~} \mathrm{k}=0,00017 \frac{\mathrm{m}^3}{\mathrm{kmol} \cdot \min } \mathrm{~em~} 188^{\circ} \mathrm{C}(461 \mathrm{K}) \mathrm{~e~E}= 11.273 \mathrm{~cal} / \mathrm{mol}
        $$
        O volume de reação para a carga de 9,0448 kmols de ONCB:
        $$
        \mathrm{V}=\mathrm{V}_{\mathrm{aqNH}}+\mathrm{V}_{\mathrm{ONCB}}
        $$

        Como a amônia é solúvel em água, o volume de amônia aquosa não mudará muito com a adição de amônia e, portanto, consideraremos que o volume é constante em 3,9 m³ (ou seja, V<sub>aqNH3</sub> $ \cong$ V<sub>aqam</sub> = 3,9 m³ ) para ambos os casos. O volume de ONCB é
        $$
        \mathrm{V}_{\mathrm{ONCB}}=\frac{\mathrm{N}_{\mathrm{ONCB}} \cdot \mathrm{M} \mathrm{~W}_{\mathrm{ONCB}}}{\rho_{\mathrm{ONCB}}}=\frac{(9,04 \mathrm{kmol})\left(157,5 \frac{\mathrm{kg}}{\mathrm{kmol}}\right)}{1.199 \frac{\mathrm{kg}}{\mathrm{m}^3}}=1,19 \mathrm{~m}^3
        $$

        O volume total para o aumento da carga do reator é
        $$
        \mathrm{V}=3,9 \mathrm{~m}^3+1,19 \mathrm{~m}^3=5,1 \mathrm{~m}^3
        $$
        O volume de reação para a carga anterior, de 3,17 kmols de ONCB, era
        $$
        \begin{gathered}
        \mathrm{V}=3,9 \mathrm{~m}^3+0,42 \mathrm{~m}^3=4,32 \mathrm{~m}^3 \\
        \Delta \mathrm{H}_{\mathrm{Rx}}=-5,9 \times \mathrm{10}^5 \mathrm{~kcal} / \mathrm{kmol} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{ONCB}}}=\mathrm{C}_{\mathrm{P}_{\mathrm{A}}}=40 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{H}_2 \mathrm{O}}}=\mathrm{C}_{\mathrm{P}_{\mathrm{W}}}=\mathrm{1} 8 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K} \\
        \mathrm{C}_{\mathrm{P}_{\mathrm{NH}_3}}=\mathrm{C}_{\mathrm{P}_{\mathrm{B}}}=8,38 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K}
        \end{gathered}
        $$
        Considerando que $\Delta C_{\mathrm{P}} \approx 0$
        $$
        \mathrm{UA}=\frac{35,85 \mathrm{kcal}}{\mathrm{min}^{\circ} \mathrm{C}} \operatorname{com~} \mathrm{T}_{\mathrm{a}}=298 \mathrm{~K}
        $$
    </div>

</div>

<form  method="post" id="formulario" action="{% url 'e132_batelada' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom">    
        <div class="col-md p-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'T0' %}</div><div class="col-md p-3">{% endif %}
            <div class="row g-3 align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-auto">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
        
    </div>
    <div class="text-center py-3">
        <input class="btn btn-light border-black" type="submit" value="Enviar" id="submit">
    </div> 
</form>

<div class="pt-5">
    <div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>
</div>
<div class="container-fluid">
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_X"></canvas>
        </div>
    </div>
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>

<div class="py-4">
    <div class="border-bottom"><h1 class="h2 text-center">Tabelas</h1></div>
</div>
<div class="container-fluid">
<table class="table table-striped table-hover table-sm text-center p-5 border"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">t (s)</th>
            <th scope="col">X</th>
            <th scope="col">T (K)</th>

        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for q in qs %}
        <tr>
            <td>{{ q.pk }}</td>
            <td>{{ q.t }}</td>
            <td>{{ q.X0 }}</td>
            <td>{{ q.T0 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}

{% block scripts %}
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
<!-- Biblioteca Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('grafico_X').getContext('2d');
    const myChartF = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'X',
                    data: {{X}},
                    parsing: {
                        yAxisKey: {{X}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Conversão ao longo do tempo de reação em um reator Batelada'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{t}}, //{{t}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Tempo (s)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Conversão'
                    }
                }
            },
        },
        
    });
</script>
<script>
    const ctx2 = document.getElementById('grafico_T').getContext('2d');
    const myChartT = new Chart(ctx2, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'T',
                    data: {{T}},
                    parsing: {
                        yAxisKey: {{T}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Temperatura do reator Batelada ao longo do tempo'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{t}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Tempo (s)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Temperatura (K)'
                    }
                }
            },
        },
        
    });
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% endblock scripts %}