{% extends 'base.html' %}
{% load static %}

{% block title %}BR3{% endblock title %}

{% block exemplo %}BR3 - Reações Múltiplas em Semibatelada{% endblock exemplo %}

{% block content %}

<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">Reações Múltiplas em um Reator em Semibatelada</h5></p>
    <p>Baseado no Exemplo 13.5 da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>As reações em série</p>
    <p class="text-center" id="conteudo1"> 
        $$ 2 \mathrm{~A} \underset{(1)}{\stackrel{k_{1 A}}{\longrightarrow}} \mathrm{B} \underset{(2)}{\stackrel{k_{2 \mathrm{~B}}}{\longrightarrow}} 3 \mathrm{C} $$
    </p>
    <p>
        são catalisadas por H<sub>2</sub>SO<sub>4</sub>. Todas as reações são de primeira ordem em relação à concentração do reagente. Contudo, a Reação (1) 
        é exotérmica e a Reação (2) é endotérmica. As reações são conduzidas em um reator em semibatelada que contém um trocador de 
        calor em seu interior com UA = 35.000 cal/h&#x22C5 K e uma temperatura constante, Ta, igual a 298 K. O reagente A puro alimenta o 
        reator a 4 mol/dm³, com uma vazão volumétrica de 240 dm³/h e a uma temperatura de 305 K. Inicialmente, o reator contém um 
        total de líquido de 100 dm³ de uma solução com concentração de 1 mol/dm³ de A e 1 mol/dm³ do catalisador H<sub>2</sub>SO<sub>4</sub>. A taxa de 
        reação independe da concentração do catalisador. A temperatura inicial no reator é 290 K.
    </p>
    <p>Uma reação exotérmica e uma reação endotérmica! A temperatura aumentará ou diminuirá?</p>
    <p class="text-center col col-md-6 mx-auto" id="conteudo2"> 
        <img src="{% static 'img/e135-3.png' %}" alt="" class="w-100">
        <small>Fonte: FOGLER (2022)</small> 
    </p>
    <p>Informações adicionais:</p>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo3">
        <div>
            \begin{gather}
            & \quad \mathrm{E}_{\mathrm{1A}}=9.500 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
            & \quad \mathrm{E}_{2 \mathrm{B}}=7.000 \mathrm{~cal} / \mathrm{mol} \quad \notag\\
            & \quad \mathrm{k}_{\mathrm{1A}}=1,25 \mathrm{~h}^{-\mathrm{1}} \text{em } 320 \mathrm{~K} \quad \notag\\
            & \quad \mathrm{k}_{2 \mathrm{~B}}=0,08 \mathrm{~h}^{-\mathrm{1}} \text{em} 300 \mathrm{~K} \quad \notag\\
            & \quad \Delta \mathrm{H}_{\text {Rx1A }}=-6.500 \mathrm{~cal} / \mathrm{molA} \quad \notag\\
            & \quad \Delta \mathrm{H}_{\text{Rx2} \mathrm{B}}=+8.000 \mathrm{~cal} / \mathrm{molB} \quad \notag\\
            \end{gather}
        </div>
        <div>
            \begin{gather}
            & \quad \mathrm{C}_{\mathrm{P}_{\mathrm{A}}}=30 \text { cal } / \mathrm{mol} \cdot \mathrm{K} \quad \notag\\
            & \quad \mathrm{C}_{\mathrm{P}_{\mathrm{B}}}=60 \text{ cal} / \mathrm{mol} \cdot \mathrm{K} \quad \notag\\
            & \quad \mathrm{C}_{\mathrm{P}_{\mathrm{C}}}=20 \text{ cal} / \mathrm{mol} \cdot \mathrm{K} \quad \notag\\
            & \quad \mathrm{C}_{\mathrm{P}_{\mathrm{H}_2 \mathrm{SO}_4}}=35 \mathrm{~cal} / \mathrm{mol} \cdot \mathrm{K} \quad  \notag
            \end{gather}
        </div>
    </div>

</div>

<form  method="post" id="formulario" action="{% url 'e135_semibatelada' %}">
    {% csrf_token %}
    
    <div class="row border rounded-bottom py-3">    
        <div class="col-md p-md-3">
            {% for field in form %}
            {% if field.name != 'x' %}
            {% if field.name == 'T0' %}</div><div class="col-md p-md-3">{% endif %}
            <div class="row g-3 justify-content-center align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-2">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% else %}
            </div><div class="col-md my-auto p-3"><div class="py-1">{{field.label}}</div>{{field}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}
                        {% if field.name|first == 'U' or field.name|first == 'Δ' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|slice:':2' }}<sub>{{ field.name|slice:'2:' }}</sub>:</b> {{ field.label }}</div>
                        {% elif field.name != 'x' %}
                            <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name|first }}<sub>{{ field.name|slice:'1:' }}</sub>:</b> {{ field.label }}</div>
                        {% endif %}
                    {% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_X"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="module">
    import { criarGrafico1V, criarGrafico3V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'e135_semibatelada' %}", { 
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_X").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico3V(data.CA, data.CB, data.CC, data.t, "CA", "CB", "CC", "Concentração (mol/L)", "Tempo (s)", "Concentração ao longo do tempo de reação em um reator Batelada", "grafico_X");
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico1V(data.T, data.t, "T", "Temperatura (K)", "Tempo (s)", "Temperatura do reator Semibatelada ao longo do tempo", "grafico_T");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = ["s","mol/L","mol/L","mol/L","K"];
        criarEstrutura(data, unidade);  
    };
    }) 
});

</script>
{% endblock scripts %}