{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Projetando Reatores</title>
</head>
<!--
    <div class="cor-azul-escuro socorro">ola</div>
    <div class="cor-azul-turquesa">Outro Conteúdo</div>
    <div class="cor-azul-opaco">Mais Conteúdo</div>
    <div class="cor-cinza">Conteúdo Cinza</div>
-->
<body>
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
        <div class="container justify-content-center">
            <a class="navbar-brand text-center" href="{% url 'index' %}"><h2>Projetando Reatores</h2></a>
        </div>
    </header>
    <main class="container-fluid">
        <section class="text-center py-2 pt-4">
            <h2 class="py-2">Sua ferramenta de excelência em engenharia química</h2>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-4 px-4 border-3 border-top"></div>
                <div class="col-12 col-lg-4 p-2 py-4">
                    <h4>Projetando Reatores é uma ferramenta web desenvolvida para complementar o ensino dos cálculos por trás dos reatores químicos</h4>
                </div>
                <div class="col-12 col-lg-4 px-4 border-3 border-top"></div>
            </div>
        </section>
        <section class="container justify-content-center" >
            <div class="text-center">
                <h2 class="py-3">Explore os Exemplos</h2>
                <h5 class="w-75 mx-auto">
                    Adaptação dos problemas contidos no livro “Elementos de Engenharia das Reações Químicas” de H. Scott Fogler, uma bibliografia clássica relativa a projeto de reatores
                </h5>
            </div>
            <div class="row justify-content-center text-center py-3 py-lg-4" style="min-width: 80%;">
                <div class="col-md-3 mb-4">
                    <div class="card p-3 shadow-sm h-100">
                        <img src="{% static 'img/icone_PFR.png' %}" alt="PFR" class="p-1">
                        <h5 class="card-title fs-3 py-1">PFR</h5>
                        <div class="d-flex flex-column">
                            <a href="{% url 'e122_pfr' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 12.2</a>
                            <a href="{% url 'e125_pfr_multiplas' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 12.5</a>
                            <a href="{% url 'e127_pfr_multiplas' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 12.7</a>
                            <a href="{% url 'p1223_pfr_multiplas_reversivel' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Problema 12.23</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card p-3 shadow-sm h-100">
                        <img src="{% static 'img/icone_CSTR.png' %}" alt="CSTR">
                        <h5 class="card-title fs-3 py-1">CSTR</h5>
                        <div class="d-flex flex-column">
                            <a href="{% url 'e124_cstr' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 12.4</a>
                            <a href="{% url 'e126_cstr_multiplas' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 12.6</a>
                            <a href="{% url 'p1216_cstr_reversivel' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Problema 12.16</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card p-3 shadow-sm h-100">
                        <img src="{% static 'img/icone_batelada.png' %}" alt="Batelada">
                        <h5 class="card-title fs-3 py-1">Batelada</h5>
                        <div class="d-flex flex-column">
                            <a href="{% url 'e131_batelada' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 13.1</a>
                            <a href="{% url 'e132_batelada' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 13.2</a>
                            <a href="{% url 'e135_semibatelada' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 13.5</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card p-3 shadow-sm h-100">
                        <img src="{% static 'img/icone_PBR.png' %}" alt="PBR">
                        <h5 class="card-title fs-3 py-1">PBR</h5>
                        <div class="d-flex flex-column">
                            <a href="{% url 'e102_pbr_desativacao' %}" class="link-dark link-underline-opacity-0 link-opacity-75-hover py-1 fs-5 fw-semibold">Exemplo 10.2</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>

    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="text-center">
                    <span>Desenvolvido por Rafael Silva Barbosa (orientação prof.ª Natália M. B. Oliveira e prof. Nathan S. Evangelista)</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
