{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathjax %}
{% load static %}

{% block title %}Problema 12.16{% endblock title %}

{% block exemplo %}Problema 12.16{% endblock exemplo %}

{% block content %}
<!-- Configuração inline do Mathjax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$$']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            TeX: {
                equationNumbers: { autoNumber: 'AMS' },
                extensions: ['AMSmath.js', 'AMSsymbols.js', 'autobold.js']
            }
        }
    });
    function mostrarElemento(id) {
        document.getElementById(id).style.display = 'block';
    }
    MathJax.Hub.Queue(function() {
        // Coloque aqui o código para exibir ou fazer algo com o conteúdo
        mostrarElemento('conteudo1');
        mostrarElemento('conteudo2');
        mostrarElemento('conteudo3');
    });
</script>

<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">P12.16B</h5></p>
    <p>A reação elementar reversível em fase líquida</p>
    <p class="text-center" id="conteudo1" style="display: none;"> 
        $$ A ⇄ B $$
    </p>
    <p>ocorre em um CSTR com um trocador de calor. A puro entra no reator.</p>
    <p><b>(a)</b> Deduza uma expressão (ou conjunto de expressões) para calcular G(T) em função do calor de reação, 
        da constante de equilíbrio, da temperatura e assim por diante. Mostre um cálculo simples para G(T) a T = 400 K. </p>
    <p><b>(b)</b> Quais são as temperaturas de estado estacionário? (Resp.: 310, 377, 418 K.)</p>
    <p><b>(c)</b> Quais estados estacionários são localmente estáveis?</p>
    <p><b>(d)</b> Qual é a conversão correspondente ao estado estacionário superior?</p>
    <p><b>(e)</b> Varie a temperatura ambiente Ta e faça um gráfico da temperatura do reator em função de Ta, 
        identificando as temperaturas de ignição e de extinção.</p>
    <p><b>(f)</b> Se o trocador de calor do reator falhasse repentinamente (isto é, UA = 0), qual seria a conversão e 
        qual seria a temperatura do reator quando o novo estado estacionário superior fosse atingido? (Resp.: 431 K.)</p>
    <p><b>(g)</b> Que valor de UA dará a máxima conversão?</p>
    <p>Informações adicionais:</p>
    <div id="conteudo2" style="display: none;">
        \begin{array}{ll}
            UA = 3.600 \text{ cal/min.K} & K_{C} = 100 \text{ a } 400 \text{ K} \\
            \frac{E}{R} = 20.000 \text{ K} & F_{A0} = 10 \text{ mol/min} \\
            C_{PA} = C_{PB} = 40 \text{ cal/mol.K} & k = 1 \text{ min}^{-1} \text{ a } 400 \text{ K} \\
            V = 10 \text{ dm}^3 & \text{Temperatura ambiente, Ta} = 37^\circ\text{C} \\
            \Delta H^\circ_{\text{Rx}} = -80.000 \text{ cal/mol de A} & \text{Temperatura de alimentação, } T_{0} = 7^\circ\text{C} \\
            v_0 = 1 \text{ dm}^3/\text{min}
        \end{array}
    </div>
    

</div>

<form  method="post" id="formulario" action="{% url 'p1216_cstr_reversivel' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom">    
        <div class="col-md p-3">
            {% for field in form %}
            {% if field.name == 'k' %}</div><div class="col-md p-3">{% endif %}
            <div class="row g-3 align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-auto">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    <div class="text-center py-3">
        <input class="btn btn-light border-black" type="submit" value="Enviar" id="submit">
    </div> 
</form>

<div class="pt-5">
    <div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>
</div>
<div class="container-fluid">
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_X"></canvas>
        </div>
    </div>
    <div class="col-md p-4">
        <div class="chart-container" style="position: relative">
            <canvas id="grafico_calor"></canvas>
        </div>
    </div>
</div>

<div class="py-4">
    <div class="border-bottom"><h1 class="h2 text-center">Tabelas</h1></div>
</div>
<div class="container-fluid">
<table class="table table-striped table-hover table-sm text-center p-5 border"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">T (K)</th>
            <th scope="col">X<sub>BM</sub></th>
            <th scope="col">X<sub>BE</sub></th>
            <th scope="col">X<sub>eq</sub></th>
            <th scope="col">G(T) (cal/mol)</th>
            <th scope="col">R(T) (cal/mol)</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for q in qs %}
        <tr>
            <td>{{ q.pk }}</td>
            <td>{{ q.T0 }}</td>
            <td>{{ q.XBM }}</td>
            <td>{{ q.XBE }}</td>
            <td>{{ q.Xeq }}</td>
            <td>{{ q.GT }}</td>
            <td>{{ q.RT }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}

{% block scripts %}
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
<!-- Biblioteca Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('grafico_X').getContext('2d');
    const myChartF = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'Xeq',
                    data: {{Xeq}},
                    parsing: {
                        yAxisKey: {{Xeq}},
                    },
                },
                {
                    label: 'XBM',
                    data: {{XBM}},
                    parsing: {
                        yAxisKey: {{XBM}},
                    },
                },
                {
                    label: 'XBE',
                    data: {{XBE}},
                    parsing: {
                        yAxisKey: {{XBE}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Conversão ao longo do tempo de reação em um reator Batelada'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{T}}, //{{t}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Temperatura (K)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Conversão'
                    }
                }
            },
        },
        
    });
</script>
<script>
    const ctx2 = document.getElementById('grafico_calor').getContext('2d');
    const myChartT = new Chart(ctx2, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'G(T)',
                    data: {{GT}},
                    parsing: {
                        yAxisKey: {{GT}},
                    },
                },
                {
                    label: 'R(T)',
                    data: {{RT}},
                    parsing: {
                        yAxisKey: {{RT}},
                    },
                },
            ],
        },
        options: {
            plugins:{
                title: {
                    display: true,
                    text: 'Temperatura do reator Batelada ao longo do tempo'
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: {{T}}, // Especifique os rótulos de categoria para o eixo x
                    title: {
                        display: true,
                        text: 'Temperatura (K)'
                    }
                },
                y: {
                    title:{
                        display: true,
                        text: 'Calor gerado e retirado (cal/mol)'
                    }
                }
            },
        },
        
    });
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% endblock scripts %}