{% extends 'base.html' %}
{% load static %}

{% block title %}CSTR3{% endblock title %}

{% block exemplo %}CSTR3 - Pontos de Operação com Reação Reversível{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">CSTR com Troca Térmica e Reação Reversível</h5></p>
    <p>Baseado no Problema P12.16B da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>A reação elementar reversível em fase líquida</p>
    <p class="text-center" id="conteudo1"> 
        $$ A ⇄ B $$
    </p>
    <p>ocorre em um CSTR com um trocador de calor. A puro entra no reator.</p>
    <p><b>(a)</b> Deduza uma expressão (ou conjunto de expressões) para calcular G(T) em função do calor de reação, 
        da constante de equilíbrio, da temperatura e assim por diante. Mostre um cálculo simples para G(T) a T = 400 K. </p>
    <p><b>(b)</b> Quais são as temperaturas de estado estacionário? (Resp.: 310, 377, 418 K.)</p>
    <p><b>(c)</b> Quais estados estacionários são localmente estáveis?</p>
    <p><b>(d)</b> Qual é a conversão correspondente ao estado estacionário superior?</p>
    <p><b>(e)</b> Varie a temperatura ambiente Ta e faça um gráfico da temperatura do reator em função de Ta, 
        identificando as temperaturas de ignição e de extinção.</p>
    <p><b>(f)</b> Se o trocador de calor do reator falhasse repentinamente (isto é, UA = 0), qual seria a conversão e 
        qual seria a temperatura do reator quando o novo estado estacionário superior fosse atingido? (Resp.: 431 K.)</p>
    <p><b>(g)</b> Que valor de UA dará a máxima conversão?</p>
    <p>Informações adicionais:</p>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo2">
        <div>
        \begin{gather}
            & UA = 3.600 \text{ cal/min.K} \notag\\
            & \frac{E}{R} = 20.000 \text{ K} \notag\\
            & C_{PA} = C_{PB} = 40 \text{ cal/mol.K} \notag\\
            & \Delta H^\circ_{\text{Rx}} = -80.000 \text{ cal/mol de A} \notag\\
            & \text{Temperatura ambiente, Ta} = 37~^\circ\text{C} \notag\\
            & \text{Temperatura de alimentação, } T_{0} = 7~^\circ\text{C} \notag
        \end{gather}
        </div>
        <div>
        \begin{gather}
            & F_{A0} = 10 \text{ mol/min} \notag\\
            & K_{C} = 100 \text{ a } 400 \text{ K} \notag\\
            & k = 1 \text{ min}^{-1} \text{ a } 400 \text{ K} \notag\\
            & v_0 = 1 \text{ dm}^3/\text{min} \notag\\
            & V = 10 \text{ dm}^3 \notag
        \end{gather}
        </div>
    </div>
    

</div>

<form  method="post" id="formulario" action="{% url 'p1216_cstr_reversivel' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom">    
        <div class="col-md p-3">
            {% for field in form %}
            {% if field.name == 'k' %}</div><div class="col-md p-3">{% endif %}
            <div class="row g-3 align-items-center py-1 ">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
                <div class="col-auto">
                    <span class="form-text">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}{% if field.name != 'x' %}
                    <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name }}:</b> {{ field.label }}</div>
                    {% endif %}{% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_X"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_calor"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="module">
    import { criarGrafico2V, criarGrafico3V, criarEstrutura,modificarEstruturaEE } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'p1216_cstr_reversivel' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_X").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_X');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico3V(data.Xeq, data.XBM, data.XBE, data.T, "Xeq", "XBM", "XBE", "Conversão", "Temperatura (K)", "Conversão x Temperatura: CSTR", "grafico_X");
        
        document.getElementById("grafico_calor").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_calor');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.GT, data.RT, data.T, "G(T)", "R(T)", "Calor (cal/mol)", "Temperatura (K)", "Calor x Temperatura: CSTR", "grafico_calor");
        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        const unidade = [" (K)","","",""];
        //criarEstrutura(data, unidade);  
        modificarEstruturaEE(data.EE, unidade)
    };
    }) 
});

</script>

{% endblock scripts %}