{% extends 'base.html' %}
{% load static %}

{% block title %}PFR3{% endblock title %}

{% block exemplo %}PFR3 - Reações Complexas e Reversíveis{% endblock exemplo %}

{% block content %}
<div class="row border rounded-top p-4" >
    <p><h5 class="text-center">PFR com Troca Térmica, Reações Múltiplas e Reversíveis</h5></p>
    <p>Baseado no Problema P12.23B da 6ª edição do livro Elementos de Engenharia das Reações Químicas de H. Scott Fogler.</p>
    <p>As reações complexas em fase gasosa são elementares</p>
    <div class="d-flex flex-wrap justify-content-center" id="conteudo1"> 
        <div>
            \begin{gather}
            (1) \mathrm{~2} \mathrm{~A} \rightleftarrows 2 \mathrm{~B} \notag\\
            (2) \mathrm{~2} \mathrm{~B}+\mathrm{A} \rightarrow \mathrm{C} \notag\\
            \end{gather}
        </div>
        <div>
            \begin{gather}
             \quad-r_{1 \mathrm{~A}}=k_{1 \mathrm{~A}}\left[C_{\mathrm{A}}^2-\frac{C_{\mathrm{B}}}{K_{\mathrm{CA}}}\right] \notag\\
             \quad r_{2 \mathrm{C}}=k_{2 \mathrm{C}}\left[C_{\mathrm{B}}^2 C_{\mathrm{A}}\right] \notag\\
            \end{gather}
        </div>
        <div>
            \begin{gather}
             \quad \Delta \mathrm{H}_{\mathrm{Rx} 1 \mathrm{~A}}=-20 \mathrm{~kJ} / \mathrm{molA} \notag\\
             \quad \Delta H_{\mathrm{RX} 2 \mathrm{~B}}=+30 \mathrm{~kJ} / \mathrm{molB} \notag\\
            \end{gather}
        </div>
    </div>
    <p>e ocorrem em um PFR com trocador de calor. A puro entra a uma taxa de 5 mol/min, com uma concentração de 0,2 mol/dm³ 
        e a uma temperatura de 300 K. A temperatura de entrada de um refrigerante disponível é 320 K.</p>
    <p>Informações adicionais:</p>
    <div class="d-flex flex-wrap justify-content-center align-items-center" id="conteudo2">
        <div>
            \begin{gather}
            & k_{\mathrm{1A1}}=50 \mathrm{dm}^3 / \mathrm{mol}^2 \cdot \min \text { a } 305 \mathrm{~K} \notag\\
            & k_{2 \mathrm{C} 2}=4.000 \mathrm{dm}^9 / \mathrm{mol}^3 \cdot \min \text { a } 310 \mathrm{~K} \notag\\
            & K_{\mathrm{CA}}=\mathrm{10} \mathrm{~dm}^3 / \mathrm{mol} \mathrm{~a~} 315 \mathrm{~K} \notag
            \end{gather}
        </div>
        <div>
            \begin{gather}
            & E_1=8.000 \mathrm{~J} / \mathrm{mol} \notag\\
            & E_2=4.000 \mathrm{~J} / \mathrm{mol} \notag
            \end{gather}
        </div>      
    </div>
    <p>Nota: Essa é a constante de equilíbrio com relação a A na reação 1 quando a equação de van't Hoff é usada.</p>
    <div id="conteudo3" class="d-flex flex-wrap justify-content-center align-items-center">
        <div>
            \begin{gather}
            & U a=200 \frac{\mathrm{J}}{\mathrm{dm}^3 \cdot \min \mathrm{K}} \notag\\
            & \dot{m}_{\mathrm{C}}=50 \mathrm{~g} / \mathrm{min} \notag\\
            & \quad R=8,31 \mathrm{~J} / \mathrm{mol} / \mathrm{K} \notag\\
            & \quad C_{\mathrm{P}_{\text {Refri }}}=10 \mathrm{~J} / \mathrm{mol} / \mathrm{K} \notag
            & \end{gather}
        </div>
        <div>
            \begin{gather}
            & \quad C_{\mathrm{P}_{\mathrm{A}}}=20 \mathrm{~J} / \mathrm{mol} / \mathrm{K} \notag\\
            & \quad C_{\mathrm{P}_{\mathrm{B}}}=80 \mathrm{~J} / \mathrm{mol} / \mathrm{K} \notag\\
            & \quad C_{\mathrm{P}_{\mathrm{C}}}=100 \mathrm{~J} / \mathrm{mol} / \mathrm{K} \notag
            & \end{gather}
        </div>
    </div>
    <p>O volume do reator é 10 dm³.</p>
    <p><b>(a)</b> Plote (F<sub>A</sub>, F<sub>B</sub>, F<sub>C</sub>) em um único gráfico e (T e Ta), em outro, ao longo do reator, para operação adiabática, para 
        transferência de calor com Ta constante e para transferência de calor concorrente e em contracorrente com Ta variável. Basta 
        ativar uma cópia do seu código e saída para troca concorrente. <b>Operação adiabática</b></p>   
    <p><b>(b)</b> Qual é a temperatura máxima e em qual volume de reator ela é atingida?</p>
    <p><b>(c)</b> Em que volume de reator a vazão molar de B é máxima e qual é a F<sub>Bmáx</sub> nesse valor? <b>Ta constante</b></p>
    <p><b>(d)</b> Qual é a temperatura máxima e em qual volume de reator ela é atingida?</p>
    <p><b>(e)</b> Em que volume de reator a vazão molar de B é máxima e qual é a F<sub>Bmáx</sub> nesse valor? <b>Transferência concorrente</b></p>
    <p><b>(f)</b>Em que volume de reator, Ta torna-se maior que T? Por que ela se torna maior? <b>Transferência em contracorrente</b></p>
    <p><b>(g)</b> Em que volume de reator Ta torna-se maior que T? Dica: Suponha Ta na entrada em torno de 350 K.</p>

</div>

<form  method="post" id="formulario" action="{% url 'p1223_pfr_multiplas_reversivel' %}">
    {% csrf_token %}
    <div class="row border rounded-bottom justify-content-center py-3">   
        <div class="col-md p-md-3 text-center">
            {% for field in form %}
            {% if field.name == 'x' %}{% else %}
            {% if field.name == 'k1' %}</div><div class="col-md p-md-3">{% endif %}
            <div class="d-flex flex-row flex-wrap g-3 align-items-center py-1">
                <div class="col-2 text-center">
                    <label for="" class="col-form-label">{{ field.name }}</label>
                </div>
                <div class="col-auto text-center">
                    {{ field }}
                </div>
                <div class="col-auto text-center">
                    <span class="form-text px-4">{{ field.help_text }}</span> 
                </div>
            </div>
            {% endif %}{% endfor %}
        </div>
        {% for field in form %}{% if field.name == 'x' %}
        <div class="row p-1 text-center"><div>{{ field.label }}</div></div>
        <div class="row pb-3 text-center">{{ field }}</div>
        {% endif %}{% endfor %}
    </div>
    
    <section class="mx-md-3 d-flex flex-wrap">
        <div class="text-center py-2 col-12 col-md-3">
            <button type="button" class="btn border border-white p-1" id="lista-de-simbolos"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    data-bs-content=
                    "{% for field in form %}{% if field.name != 'x' %}
                    <div class='fs-6 py-1'><b class='fw-semibold '>{{ field.name }}:</b> {{ field.label }}</div>
                    {% endif %}{% endfor %}">
                Lista de Símbolos <i class="bi bi-question-square"></i>
            </button>
        </div>
        <div class="col-12 col-md-6 text-center py-3 justify-content-center">
            <input class="btn btn-light border-black" type="submit" value="Enviar" id="botao">
        </div>
    </section>
    <div class="d-flex justify-content-center"><div class="flex-shrink-0" id="errors-container"></div></div>
</form>

<section class="d-flex flex-wrap justify-content-center pt-5" id="cardResultados"></section>

<div class="pt-5" id="titulo_grafico"></div>

<div class="container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_F"></canvas>
        </div>
        <div class="col-12 col-md-6 chart-container">
            <canvas id="grafico_T"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script type="module">
    import { criarGrafico2V, criarGrafico3V, criarEstrutura } from "{% static 'js/scripts.js' %}";
    document.getElementById('botao').addEventListener('click', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('formulario')); // Obtém os dados do formulário
    fetch("{% url 'p1223_pfr_multiplas_reversivel' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json()) // Supondo que a resposta seja JSON
    .then(data => {
        if (!data.sucesso) {
        // Se houver erros, exiba-os
        const errorsContainer = document.getElementById("errors-container");
        errorsContainer.innerHTML = "";  // Limpe os erros anteriores, se houver

        // Itere sobre os erros e exiba-os
        for (const field in data.erros) {
            const errorMessage = data.erros[field].join(", ");
            const errorElement = document.createElement("div");
            errorElement.setAttribute("class","p-1");
            errorsContainer.setAttribute("class","alert alert-danger");
            errorElement.innerHTML = `<strong>${listaDeSubscritos[field]} :</strong> ${errorMessage}`;
            errorsContainer.appendChild(errorElement);
        }
    } else {
        document.getElementById("errors-container").innerHTML="";
        document.getElementById("errors-container").classList.remove("alert");
        document.getElementById("grafico_F").remove();
        var chart = document.getElementsByClassName("chart-container")[0];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_F');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico3V(data.FA, data.FB, data.FC, data.V, "FA", "FB", "FC", "Vazão molar (mol/min)", "Volume (L)", "Vazão molar das espécies A, B e C ao longo do reator", "grafico_F");
        
        document.getElementById("grafico_T").remove();
        var chart = document.getElementsByClassName("chart-container")[1];
        var grafico = document.createElement('canvas');
        grafico.setAttribute('id','grafico_T');
        chart.setAttribute('class','chart-container col-9 border rounded my-1');
        chart.appendChild(grafico);
        criarGrafico2V(data.T, data.Ta, data.V, "T","Ta", "Temperatura (K)", "Volume (L)", "Temperatura ao longo do reator", "grafico_T");
        
        document.getElementById("titulo_grafico").innerHTML = `<div class="border-bottom"><h1 class="h2 text-center">Gráficos</h1></div>`;

        // Atualize a página com os dados recebidos da view
        // Aqui você pode manipular os dados e atualizar sua página

        const unidade = ["L","mol/min","mol/min","mol/min","K","K"];
        criarEstrutura(data, unidade);  
    };
    }) 
});

</script>

{% endblock scripts %}